@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-sans: 'Nunito';
  --font-script: 'Patrick Hand';
}

body {
  @apply text-neutral-950 bg-yellow-50 font-sans;
  
  background-color: rgb(250, 250, 250);
  background-image: radial-gradient(at 0% 0%, rgb(254, 249, 195) 0, transparent 71%), radial-gradient(at 0% 100%, rgb(254, 252, 232) 0, transparent 100%), radial-gradient(at 100% 0%, rgb(254, 240, 138) 0, transparent 43%);

}

.justify-single-line {
  @apply text-justify;
}

.justify-single-line::after {
  content: "\200B"; /* Carácter de ancho cero */
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}